Display Fibonacci series up to 10 terms.

In [ ]:
def fibonacci_series(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

# Display Fibonacci series up to 10 terms
fibonacci_series(10)

0 1 1 2 3 5 8 13 21 34

Find the factorial of a given number. Ask the user to provide the number.

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Ask the user for input
num = int(input("Enter a number: "))

# Calculate and display the factorial
print("The factorial of", num, "is", factorial(num))

Enter a number: 5
The factorial of 5 is 120

Write a program to print a right angle triangle using the for loop.

In [ ]:
def print_triangle(rows):
    for i in range(1, rows + 1):
        print("*" * i)

# Call the function to print the triangle
print_triangle(4)

*
**
***
****

Make a simple calculator that can add, subtract, multiply and divide two numbers using function.

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b != 0:
        return a / b
    else:
        return "Error! Division by zero."

# Take user input
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

# Ask user for operation choice
operation = input("Select operation(+, -, *, /): ")

# Perform the operation
if operation == "+":
    print("Result:", add(num1, num2))
elif operation == "-":
    print("Result:", subtract(num1, num2))
elif operation == "*":
    print("Result:", multiply(num1, num2))
elif operation == "/":
    print("Result:", divide(num1, num2))
else:
    print("Invalid operation!")

Enter first number: 25
Enter second number: 10
Select operation(+, -, *, /): /
Result: 2.5

Remove the first duplicate element of a list

In [ ]:
def remove_first_duplicate(lst):
  seen = set()
  for i in range(len(lst)):
    if lst[i] in seen:
      lst.pop(i)
      break
    seen.add(lst[i])
  return lst

my_list = [1,9,8,7,9,2,8]
print("List before removing duplicate:", my_list)
my_list = remove_first_duplicate(my_list)
print("List after removing first duplicate:", my_list)

List before removing duplicate: [1, 9, 8, 7, 9, 2, 8]
List after removing first duplicate: [1, 9, 8, 7, 2, 8]

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]
Expected Output: {'name': 'Anderson', 'salary': 5000}

In [ ]:
def extract_keys_from_dict(simple_dict, keys):
  return {key: sample_dict[key] for key in keys}

sample_dict = {"name": "Anderson", "age": 35, "salary": 5000, "city": "London"}

keys = ["name", "salary"]
new_dict =extract_keys_from_dict(sample_dict, keys)

print(new_dict)

{'name': 'Anderson', 'salary': 5000}

Write a Python program to convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value.
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]
Expected Output: {'one': 1, 'two': 2, 'three': 3}

In [ ]:
def lists_to_dict(list_one, list_two):
  result_dict = {}
  for i in range(len(list_one)):
    result_dict[list_one[i]] = list_two[i]
  return result_dict

list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

result_dict = lists_to_dict(list_one, list_two)

print(result_dict)

{'one': 1, 'two': 2, 'three': 3}